<form

  method="POST"
  data-netlify="true"
  data-netlify-recaptcha="true"
  name="{{ formName }}"
  id="{{ sectionId }}"
  class="w-full max-w-[512px]"
  >
  {% for element in form_elements %}
    {% bookshop "{{element._bookshop_name}}" bind: element %}
  {% endfor %}
  <div data-netlify-recaptcha="true"></div>
  <div>{% bookshop "generic/button" bind: submitButton %}</div>
  </form>