<div class="cs-w-full h-full py-20 bg-{{styles.color_group}}-backgroundcolor flex flex-col items-center justify-center text-{{styles.color_group}}-textcolor">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer">
    {% bookshop "generic/heading" bind: content.heading %}
    {% if content.services %}
      {% for service in content.services %}
        <p>{{ service.title }}</p>
      {% endfor %}

    {% endif %}
  </section>
</div>