<div class="componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer">
    {% bookshop "generic/heading" bind: content.heading %}
    {% if content.services %}
      {% for service in content.services %}
        <p>{{ service.title }}</p>
      {% endfor %}

    {% endif %}
  </section>
</div>