<section {% if content.sectionId %}id="{{ content.sectionId | idFilter }}"
{% endif %} >{% if content.services %}
    {% for service in content.services %}
        <p>{{service.title}}</p>
    {% endfor %}
    
{% endif %}</section>