{% assign counter = 21 %}

<div class="componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer w-full">
    {% bookshop "generic/heading" bind: content.heading %}
    {% if content.entries %}
      
    {% endif %}
    <div class="flex flex-col justify-center items-center">
      {% for entry in content.entries %}
        {% assign counter = counter | minus: 1 %}
        {% bookshop "generic/leftRightAnimation" bind: entry %}
      {% endfor %}
    </div>
  </section>
</div>