<div class="componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer w-full">
    {% bookshop "generic/heading" bind: content.heading %}
    {% if content.services %}
      {% for item in content.services %}
        {% for service in collections.services %}
            {% if item.id == service.data.id %}
            <p>{{service.data.title}}</p>
            {% endif %}
        {% endfor %}
      {% endfor %}

    {% endif %}
  </section>
</div>