{% assign counter = 21 %}
{% assign color_group = styles.color_group %}

<div class="componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer w-full">
    <div class="mb-36">{% bookshop "generic/heading" bind: content.heading %}</div>
    {% if content.entries %}
      {% bookhsop "generic/leftRightAnimation" bind: content %}
    {% endif %}
  </section>
</div>