<div class="c-imageGalleryMasonryGrid componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer w-full">
    {% bookshop "generic/heading" bind: content.heading %}
    {% bookshop "generic/imageGrid" bind: content %}
    </section>
</div>