<section class="cs-w-full">
    {% if content.image.imagePath %}
        {%bookshop "generic/image" bind:content.image%}
    {% endif %}
<div class="basecontainer">
<header class="max-w-[600px]">
    {% if content.eyebrow %}
        <p>{{content.eyebrow}}</p>
    {% endif %}
    <h1>{{content.headline}}</h1>
    {% if content.button %}
        <div>
            {%bookshop "generic/button" bind:content.button%}
        </div>
    {% endif %}
</header>
</div>
</section>