{% assign color_group = {{site.color_group}} %}
{% capture heading %}
    
{% endcapture %}
<div class="cs-w-full py-20 flex flex-col items-center justify-center">
    <div class="basecontainer" >{% bookshop "generic/heading" bind: heading  %}</div>
</div>