<div class="c-helperText flex gap-2 text-sm text-{{color_group}}-textcolor">
    {% bookshop "generic/heroLibraryIcon" heroLibraryIconName:"information-circle" iconType:"outline" iconSize:'micro' roundedBorder:false themeColor:true %}
    <p class="{{ c }}__helper__text" id="{{ id }}--helper" role="tooltip">{{ helperText }}</p>
</div>