{% extends "layouts/base.html" %}


{% set postListItems = pagination.items %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = subheadline %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
  {% set postListItems = collections[tag] %}
  {% set pageHeaderTitle = 'Blog posts filed under “' + tag + '”' %}
{% endif %}


{% block content %}
{% include "partials/page-header.html" %}
<article class="blog-main-container">
  
    <div class="">
      {% include "partials/post-list.html" %}
      {# If we leave pagination in for tags, the next and prev links will
        link to tags and be rather confusing, so don't render in that situation #}
        {% if not tag %}
        {% include "partials/pagination.html" %}
      {% endif %}
    </div>
</article>
{% endblock %}