{% layout "layouts/base.html" %} 

{% assign postListItems = pagination.items %}
{% assign pageHeaderTitle = title %}
{% assign pageHeaderSummary = subheadline %}
{% capture styles %}
color_group: {{site.color_group}}
{% endcapture %}
{% assign styles = styles | ymlify %}
{% comment %}
If this is a tag, grab those items instead as one large collection
{% endcomment %}
{% if tag %}
  {% assign postListItems = collections[tag] %}
  {% assign pageHeaderTitle = 'Blog posts filed under “' | append: tag | append: '”' %}
{% endif %}

{% block content %}
  {% include "partials/page-header.html" %}
  <article class="blog-main-container">
    <div>
      {% render "partials/post-list.html", postListItems: postListItems %}
      {% comment %}
      If we leave pagination in for tags, the next and prev links will link to tags and be rather confusing, so don't render in that situation
      {% endcomment %}
      
      {% unless tag %}
      {% render "partials/pagination.html" pagination:pagination %}
      {% endunless %}
      {% unless tag == "pages" %}
      {% bookshop "sections/blogCards" bind: styles %}
      {% endunless %}
      
    </div>
  </article>
{% endblock %}