{% layout "layouts/base.html" %} 



{% assign pageHeaderTitle = title %}

{% comment %}{% assign recommendedPosts = helpers.getSiblingContent(collections.blog, page) %} {% endcomment %}

{% capture blogDate %}
  {% if date %} {{ date }} {% else %} {{ page.date }} {% endif %}
{% endcapture %}

{% capture image %}
  {% if entry.data.blogImage and entry.data.blogImage != ""  %}
  image:
      imagePath: {{ blogImage }}
      imageAlt: {{ imageAltText }}
  {% else %}
  image:
      imagePath: {{ blog.defaultImage }}
      imageAlt: {{ blog.defaultImageAltText }}
  {% endif %}
{% endcapture %}

{% assign image = image | ymlify %}


{% block content %}

<div class=" mt-40">
  <h1 class=" text-5xl font-semibold md:text-8xl" >{{title}}</h1>
  {% bookshop "generic/image" bind: image class: "rounded transition-all duration-300 scale-100 hover:scale-105 object-cover aspect-[3/2]"  %}
  <time datetime="{{ blogDate | date: "%Y-%m-%d" }}">{{ blogDate | date: "%B %d, %Y" }}</time>
{% if tags  %}
<p class="visually-hidden" id="tags-desc">
  Tags that this post has been filed under.
</p>
<ul class="mt-6 flex flex-wrap gap-2" aria-describedby="tags-desc">
  {% for tag in tags %}
  <li class="text-EE-brightBlue">
    <a
      href="/tag/{{ tag | slug }}/"
      {%
      if
      backgroundImg
      %}
      data-type="neutral"
      {%
      endif
      %}
      >{{ tag | capitalize | replace: ' ', '' }}</a
    >
  </li>
  {% endfor %}
</ul>
<ul class=" flex text-{{site.color_group}}-secondarycolor flex flex-wrap gap-2 overflow-hidden">
  {% for tag in tags %}
    <li class="hover:underline after:absolute after:content-['·']  after:left-2 relative before:content-[' '] after:left-[-5px] after:text-lg ">
      <a class=""
        href="/tag/{{ tag | slug }}/"
        >#{{ tag | capitalize | replace: ' ', '' }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}
  <article class="post-main-container">
      {% if content | toc %}
      <section class=" mt-8 ">
        <div class="">{{ content | toc }}</div>
      </section>
      {% endif %}
      <div class="flex justify-center">
        <section class="w-full max-w-[720px] cs-mainContent">{{ content }}</section>
      </div>
  </article>
  {% if recommendedPosts.size > 0 %}
  <footer class="recommended-posts">
    {% assign postListItems = recommendedPosts %}
    {% assign postListHeadline = 'More from the blog' %}
    {% include "partials/post-list.html" %}
  </footer>
  {% endif %}
</div>
{% endblock %}
