<section class="cs-w-full">
    {% if content.image.imagePath %}
        {%bookshop "generic/image" bind:content.image%}
    {% endif %}
<div class="basecontainer">
<div class="max-w-[600px]">
    
        
    
    <p class=" {% if content.highlightEybrow %} text-{{styles.color_group}}-accentcolor {% endif %} " >{{content.eyebrow}}</p>
    <h1>{{content.headline}}</h1>
    {% if content.buttons %}
        <div>
            {% for button in content.buttons %}
                {%bookshop "generic/button" bind:button%}
            {% endfor %}
            
        </div>
    {% endif %}
</div>
</div>
</section>