<div class="c-gridPortfolio componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
  <section {% if content.sectionId %}id="{{ content.sectionId | idFilter }}"{% endif %} class="basecontainer w-full">
    <div class="grid grid-cols-12 gap-6 lg:gap-12">
      <div class="col-span-12 md:col-span-4 md:mt-6 lg:mt-12 md:pt-6 lg:pt-12">
        <div class="xl:my-12 xl:py-12">
          <div class="mb-6 md:my-12 lg:py-12">
            <h2 class="text-3xl leading-none md:text-[45px] mb-6">My Latest Works</h2>
            <p class="text-lg leading-8 mb-2">
              It’s easier to reach your savings goals when you have the right savings account. It’s easier to reach
              your savings goals when you have the right savings account.
            </p>
            <div class="col-span-12 mt-6">
              <button class="m-1 bg-blue-600 text-white rounded px-3 py-1.5">All</button>
              <button class="m-1 hover:bg-blue-600 hover:text-white rounded transition duration-300 px-3 py-1.5">
                Branding
              </button>
              <button class="m-1 hover:bg-blue-600 hover:text-white rounded transition duration-300 px-3 py-1.5">
                Code
              </button>
              <button class="m-1 hover:bg-blue-600 hover:text-white rounded transition duration-300 px-3 py-1.5">
                Marketing
              </button>
            </div>
          </div>
        </div>
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio32.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Marketing</h5>
            <p class="mb-0">Digital Marketing</p>
          </div>
        </div>
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio31.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 -translate-y-1/2 opacity-0 transition duration-300 group-hover:opacity-100 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Management</h5>
            <p class="mb-0">Content Writing</p>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4 md:mt-6 md:pt-6 lg:mt-12 lg:pt-12">
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio30.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 -translate-y-1/2 opacity-0 transition duration-300 group-hover:opacity-100 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Branding</h5>
            <p class="mb-0">Product Design</p>
          </div>
        </div>
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio29.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 -translate-y-1/2 opacity-0 transition duration-300 group-hover:opacity-100 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Web Portal Dev</h5>
            <p class="mb-0">UI/UX Design</p>
          </div>
        </div>
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio28.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 -translate-y-1/2 opacity-0 transition duration-300 group-hover:opacity-100 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Web Portal Dev</h5>
            <p class="mb-0">UI/UX Design</p>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4">
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio27.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 -translate-y-1/2 opacity-0 transition duration-300 group-hover:opacity-100 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Customaization</h5>
            <p class="mb-0">Theme Development</p>
          </div>
        </div>
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio26.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 -translate-y-1/2 opacity-0 transition duration-300 group-hover:opacity-100 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Web Portal Dev</h5>
            <p class="mb-0">UI/UX Design</p>
          </div>
        </div>
        <div class="group rounded-xl overflow-hidden relative mt-6">
          <img
            src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio25.jpg"
            alt=""
            class="max-w-full h-auto w-full"
          />
          <div
            class="absolute left-4 right-4 top-1/2 rounded-xl bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-70 bg-blur-sm bg-saturate-200 -translate-y-1/2 opacity-0 transition duration-300 group-hover:opacity-100 text-center p-6 lg:py-12"
          >
            <h5 class="font-medium text-xl">Development</h5>
            <p class="mb-0">Editor Expert</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>