@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .basecontainer{
    @apply px-4 flex flex-col max-w-[1440px] sm:px-10
  }
  .cs-w-full-l{
    @apply w-[50vw] relative left-1/2 right-1/2 ml-[-50vw] mr-0
  }
  .cs-w-full-r{
    @apply w-[50vw] relative left-1/2 right-1/2 mr-[-50vw] ml-0
  }
  .cs-w-full{
    @apply w-screen relative left-1/2 right-1/2 mx-[-50vw] 
  }

}

/* Globals */

@font-face {
  font-family: "fira-sansregular";
  src:
    url("/fonts/firasans-regular-webfont.woff2") format("woff2"),
    url("/fonts/firasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "piazzolla";
  src:
    url("/fonts/Piazzolla-VariableFont_opsz,wght.woff2")
      format("woff2 supports variations"),
    url("/fonts/Piazzolla-VariableFont_opsz,wght.woff2")
      format("woff2-variations");
  font-weight: 100 1000;
}

/* * {
  outline: 1px solid #f00 !important;
}  */




body {
  font-family: "fira-sansregular", sans-serif;

  /* This fixes fi and fl not rendering because of the font. */
  letter-spacing: 1px; 
}


h1,
h2,
h3,
h4 {
  font-family: "piazzolla", sans-serif;
}

/* Compositions */
.flow-half > * + * {
  margin-top: 8px;
}
.flow > * + * {
  margin-top: 16px;
}

.flow5 > * + * {
  margin-top: 5rem;
}

/* Utilities */
.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* "cs-" is the naming convetion for custom css that isn't tailwind.
Classes with "lg-" are classes created just for logic purposes and don't have styling */

.cs-menu-category::before {
  content: " ";
}
.cs-menu-category::after {
  position: absolute;
  content: "·—·";
  font-family: "piazzolla", sans-serif;
  font-size: 1.5em;
  left: -19px;
  top: -7px;
}

.cs-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* .cs-nav-background{
  background-image:linear-gradient(180deg, rgba(0,0,0,0.5) 81.58%, rgba(0,0,0,0.00) 100%)
} */
/* Exceptions */

