{% assign color_group = styles.color_group %}

<div class="c-simpleCta componentcontainer bg-{{styles.color_group}}-backgroundcolor  text-{{styles.color_group}}-textcolor">
    <section class="basecontainer w-full">

        {% bookshop "generic/heading" bind: content.CallToAction %}

    </section>
</div>