{% assign imageClasses = 'z-[' | append: counter | append: ']' %}
{% assign imageClasses = imageClasses |  append: ' object-cover absolute top-0 transition-all aspect-[3/2]' %}
<div class="op hidden grid-cols-2 gap-[7vw] lg:grid">
    <div class="sticky top-[20vh] h-[60vh]">
        <div id="a{{content.id}}" class="lg-benefit-img opacity-0 transition-all duration-500">{% bookshop "generic/image" bind: content.image class: imageClasses %}</div>
      </div>

  <div class="w-[500px]"
  _="
    on intersection(intersecting) having threshold 1
    if intersecting
    add .opacity-0 to .lg-benefit-img
    remove .opacity-100 from .lg-benefit-img
    add .opacity-100 to #a{{content.id}}
    remove .opacity-0 from #a{{content.id}}
    log '{{content.id}}'
    
    "
  >
    {% bookshop "generic/heading" bind: content.heading %}
    {% if content.buttons %}
      <div class="flex gap-2 mt-4">
        {% for button in content.buttons %}
          {% bookshop "generic/button" bind: button %}
        {% endfor %}
      </div>
    {% endif %}

  </div>

</div>

{% comment %} 
    z-[20]
    z-[19]
    z-[18]
    z-[17]
    z-[16]
    z-[15]
    z-[14]
    z-[13]
    z-[12]
    z-[11]
    z-[10]
    z-[9]
    z-[8]
    z-[7]
    z-[6]
    z-[5]
    z-[4]
    z-[3]
    z-[2]
    z-[1]

 {% endcomment %}