:root {
--magic0__background : undefined;
--magic0__foreground : undefined;
--magic0__interaction : undefined;
--rose1__background : undefined;
--rose1__foreground : undefined;
--rose1__interaction : undefined;
--cotton_candy2__background : undefined;
--cotton_candy2__foreground : undefined;
--cotton_candy2__interaction : undefined;
--orange3__background : undefined;
--orange3__foreground : undefined;
--orange3__interaction : undefined;
--purplenurple4__background : undefined;
--purplenurple4__foreground : undefined;
--purplenurple4__interaction : undefined;
}

.text-primary-textcolor { color: #021015; }
.text-primary-primarycolor { color: #12b5ed; }
.text-primary-secondarycolor { color: #f57b91; }
.text-primary-accentcolor { color: #f1cc4e; }
.bg-primary-backgroundcolor { background-color: #f0fafe; }
.bg-primary-primarycolor { background-color: #12b5ed; }
.bg-primary-secondarycolor { background-color: #f57b91; }
.bg-primary-accentcolor { background-color: #f1cc4e; }
.hover:bg-primary-backgroundcolor:hover { background-color: #f0fafe; }
.hover:bg-primary-primarycolor:hover { background-color: #12b5ed; }
.hover:bg-primary-secondarycolor:hover { background-color: #f57b91; }
.hover:bg-primary-accentcolor:hover { background-color: #f1cc4e; }
.bg-primary-backgroundcolornav { background-color: #f0fafe70; }
.bg-primary-primarycolornav { background-color: #12b5ed70; }
.bg-primary-secondarycolornav { background-color: #f57b9170; }
.bg-primary-accentcolornav { background-color: #f1cc4e70; }
.border-primary-backgroundcolor { border-color: #f0fafe; }
.border-primary-primarycolor { border-color: #12b5ed; }
.border-primary-secondarycolor { border-color: #f57b91; }
.border-primary-accentcolor { border-color: #f1cc4e; }
.hover:border-primary-backgroundcolor:hover { border-color: #f0fafe; }
.hover:border-primary-primarycolor:hover { border-color: #12b5ed; }
.hover:border-primary-secondarycolor:hover { border-color: #f57b91; }
.hover:border-primary-accentcolor:hover { border-color: #f1cc4e; }
.stroke-primary-textcolor { stroke: #021015; }
.stroke-primary-backgroundcolor { stroke: #f0fafe; }
.stroke-primary-primarycolor { stroke: #12b5ed; }
.stroke-primary-secondarycolor { stroke: #f57b91; }
.stroke-primary-accentcolor { stroke: #f1cc4e; }
.fill-primary-textcolor { fill: #021015; }
.fill-primary-backgroundcolor { fill: #f0fafe; }
.fill-primary-primarycolor { fill: #12b5ed; }
.fill-primary-secondarycolor { fill: #f57b91; }
.fill-primary-accentcolor { fill: #f1cc4e; }

.text-magic0-textcolor { color: #060c0b; }
.text-magic0-primarycolor { color: #62afa0; }
.text-magic0-secondarycolor { color: #a4aed1; }
.text-magic0-accentcolor { color: #7c78bb; }
.bg-magic0-backgroundcolor { background-color: #f9fcfb; }
.bg-magic0-primarycolor { background-color: #62afa0; }
.bg-magic0-secondarycolor { background-color: #a4aed1; }
.bg-magic0-accentcolor { background-color: #7c78bb; }
.hover:bg-magic0-backgroundcolor:hover { background-color: #f9fcfb; }
.hover:bg-magic0-primarycolor:hover { background-color: #62afa0; }
.hover:bg-magic0-secondarycolor:hover { background-color: #a4aed1; }
.hover:bg-magic0-accentcolor:hover { background-color: #7c78bb; }
.bg-magic0-backgroundcolornav { background-color: #f9fcfb70; }
.bg-magic0-primarycolornav { background-color: #62afa070; }
.bg-magic0-secondarycolornav { background-color: #a4aed170; }
.bg-magic0-accentcolornav { background-color: #7c78bb70; }
.border-magic0-backgroundcolor { border-color: #f9fcfb; }
.border-magic0-primarycolor { border-color: #62afa0; }
.border-magic0-secondarycolor { border-color: #a4aed1; }
.border-magic0-accentcolor { border-color: #7c78bb; }
.hover:border-magic0-backgroundcolor:hover { border-color: #f9fcfb; }
.hover:border-magic0-primarycolor:hover { border-color: #62afa0; }
.hover:border-magic0-secondarycolor:hover { border-color: #a4aed1; }
.hover:border-magic0-accentcolor:hover { border-color: #7c78bb; }
.stroke-magic0-textcolor { stroke: #060c0b; }
.stroke-magic0-backgroundcolor { stroke: #f9fcfb; }
.stroke-magic0-primarycolor { stroke: #62afa0; }
.stroke-magic0-secondarycolor { stroke: #a4aed1; }
.stroke-magic0-accentcolor { stroke: #7c78bb; }
.fill-magic0-textcolor { fill: #060c0b; }
.fill-magic0-backgroundcolor { fill: #f9fcfb; }
.fill-magic0-primarycolor { fill: #62afa0; }
.fill-magic0-secondarycolor { fill: #a4aed1; }
.fill-magic0-accentcolor { fill: #7c78bb; }

.text-rose1-textcolor { color: #120618; }
.text-rose1-primarycolor { color: #4e1a6b; }
.text-rose1-secondarycolor { color: #de789a; }
.text-rose1-accentcolor { color: #c53a30; }
.bg-rose1-backgroundcolor { background-color: #f8f3fc; }
.bg-rose1-primarycolor { background-color: #4e1a6b; }
.bg-rose1-secondarycolor { background-color: #de789a; }
.bg-rose1-accentcolor { background-color: #c53a30; }
.hover:bg-rose1-backgroundcolor:hover { background-color: #f8f3fc; }
.hover:bg-rose1-primarycolor:hover { background-color: #4e1a6b; }
.hover:bg-rose1-secondarycolor:hover { background-color: #de789a; }
.hover:bg-rose1-accentcolor:hover { background-color: #c53a30; }
.bg-rose1-backgroundcolornav { background-color: #f8f3fc70; }
.bg-rose1-primarycolornav { background-color: #4e1a6b70; }
.bg-rose1-secondarycolornav { background-color: #de789a70; }
.bg-rose1-accentcolornav { background-color: #c53a3070; }
.border-rose1-backgroundcolor { border-color: #f8f3fc; }
.border-rose1-primarycolor { border-color: #4e1a6b; }
.border-rose1-secondarycolor { border-color: #de789a; }
.border-rose1-accentcolor { border-color: #c53a30; }
.hover:border-rose1-backgroundcolor:hover { border-color: #f8f3fc; }
.hover:border-rose1-primarycolor:hover { border-color: #4e1a6b; }
.hover:border-rose1-secondarycolor:hover { border-color: #de789a; }
.hover:border-rose1-accentcolor:hover { border-color: #c53a30; }
.stroke-rose1-textcolor { stroke: #120618; }
.stroke-rose1-backgroundcolor { stroke: #f8f3fc; }
.stroke-rose1-primarycolor { stroke: #4e1a6b; }
.stroke-rose1-secondarycolor { stroke: #de789a; }
.stroke-rose1-accentcolor { stroke: #c53a30; }
.fill-rose1-textcolor { fill: #120618; }
.fill-rose1-backgroundcolor { fill: #f8f3fc; }
.fill-rose1-primarycolor { fill: #4e1a6b; }
.fill-rose1-secondarycolor { fill: #de789a; }
.fill-rose1-accentcolor { fill: #c53a30; }

.text-cotton_candy2-textcolor { color: #dceffe; }
.text-cotton_candy2-primarycolor { color: #0787e9; }
.text-cotton_candy2-secondarycolor { color: #560495; }
.text-cotton_candy2-accentcolor { color: #bb06c1; }
.bg-cotton_candy2-backgroundcolor { background-color: #00050a; }
.bg-cotton_candy2-primarycolor { background-color: #0787e9; }
.bg-cotton_candy2-secondarycolor { background-color: #560495; }
.bg-cotton_candy2-accentcolor { background-color: #bb06c1; }
.hover:bg-cotton_candy2-backgroundcolor:hover { background-color: #00050a; }
.hover:bg-cotton_candy2-primarycolor:hover { background-color: #0787e9; }
.hover:bg-cotton_candy2-secondarycolor:hover { background-color: #560495; }
.hover:bg-cotton_candy2-accentcolor:hover { background-color: #bb06c1; }
.bg-cotton_candy2-backgroundcolornav { background-color: #00050a70; }
.bg-cotton_candy2-primarycolornav { background-color: #0787e970; }
.bg-cotton_candy2-secondarycolornav { background-color: #56049570; }
.bg-cotton_candy2-accentcolornav { background-color: #bb06c170; }
.border-cotton_candy2-backgroundcolor { border-color: #00050a; }
.border-cotton_candy2-primarycolor { border-color: #0787e9; }
.border-cotton_candy2-secondarycolor { border-color: #560495; }
.border-cotton_candy2-accentcolor { border-color: #bb06c1; }
.hover:border-cotton_candy2-backgroundcolor:hover { border-color: #00050a; }
.hover:border-cotton_candy2-primarycolor:hover { border-color: #0787e9; }
.hover:border-cotton_candy2-secondarycolor:hover { border-color: #560495; }
.hover:border-cotton_candy2-accentcolor:hover { border-color: #bb06c1; }
.stroke-cotton_candy2-textcolor { stroke: #dceffe; }
.stroke-cotton_candy2-backgroundcolor { stroke: #00050a; }
.stroke-cotton_candy2-primarycolor { stroke: #0787e9; }
.stroke-cotton_candy2-secondarycolor { stroke: #560495; }
.stroke-cotton_candy2-accentcolor { stroke: #bb06c1; }
.fill-cotton_candy2-textcolor { fill: #dceffe; }
.fill-cotton_candy2-backgroundcolor { fill: #00050a; }
.fill-cotton_candy2-primarycolor { fill: #0787e9; }
.fill-cotton_candy2-secondarycolor { fill: #560495; }
.fill-cotton_candy2-accentcolor { fill: #bb06c1; }

.text-orange3-textcolor { color: #170b01; }
.text-orange3-primarycolor { color: #f77f1f; }
.text-orange3-secondarycolor { color: #7afa9b; }
.text-orange3-accentcolor { color: #52f9dc; }
.bg-orange3-backgroundcolor { background-color: #fef6ef; }
.bg-orange3-primarycolor { background-color: #f77f1f; }
.bg-orange3-secondarycolor { background-color: #7afa9b; }
.bg-orange3-accentcolor { background-color: #52f9dc; }
.hover:bg-orange3-backgroundcolor:hover { background-color: #fef6ef; }
.hover:bg-orange3-primarycolor:hover { background-color: #f77f1f; }
.hover:bg-orange3-secondarycolor:hover { background-color: #7afa9b; }
.hover:bg-orange3-accentcolor:hover { background-color: #52f9dc; }
.bg-orange3-backgroundcolornav { background-color: #fef6ef70; }
.bg-orange3-primarycolornav { background-color: #f77f1f70; }
.bg-orange3-secondarycolornav { background-color: #7afa9b70; }
.bg-orange3-accentcolornav { background-color: #52f9dc70; }
.border-orange3-backgroundcolor { border-color: #fef6ef; }
.border-orange3-primarycolor { border-color: #f77f1f; }
.border-orange3-secondarycolor { border-color: #7afa9b; }
.border-orange3-accentcolor { border-color: #52f9dc; }
.hover:border-orange3-backgroundcolor:hover { border-color: #fef6ef; }
.hover:border-orange3-primarycolor:hover { border-color: #f77f1f; }
.hover:border-orange3-secondarycolor:hover { border-color: #7afa9b; }
.hover:border-orange3-accentcolor:hover { border-color: #52f9dc; }
.stroke-orange3-textcolor { stroke: #170b01; }
.stroke-orange3-backgroundcolor { stroke: #fef6ef; }
.stroke-orange3-primarycolor { stroke: #f77f1f; }
.stroke-orange3-secondarycolor { stroke: #7afa9b; }
.stroke-orange3-accentcolor { stroke: #52f9dc; }
.fill-orange3-textcolor { fill: #170b01; }
.fill-orange3-backgroundcolor { fill: #fef6ef; }
.fill-orange3-primarycolor { fill: #f77f1f; }
.fill-orange3-secondarycolor { fill: #7afa9b; }
.fill-orange3-accentcolor { fill: #52f9dc; }

.text-purplenurple4-textcolor { color: #040610; }
.text-purplenurple4-primarycolor { color: #3c54d1; }
.text-purplenurple4-secondarycolor { color: #b18ce4; }
.text-purplenurple4-accentcolor { color: #aa68dc; }
.bg-purplenurple4-backgroundcolor { background-color: #fafafe; }
.bg-purplenurple4-primarycolor { background-color: #3c54d1; }
.bg-purplenurple4-secondarycolor { background-color: #b18ce4; }
.bg-purplenurple4-accentcolor { background-color: #aa68dc; }
.hover:bg-purplenurple4-backgroundcolor:hover { background-color: #fafafe; }
.hover:bg-purplenurple4-primarycolor:hover { background-color: #3c54d1; }
.hover:bg-purplenurple4-secondarycolor:hover { background-color: #b18ce4; }
.hover:bg-purplenurple4-accentcolor:hover { background-color: #aa68dc; }
.bg-purplenurple4-backgroundcolornav { background-color: #fafafe70; }
.bg-purplenurple4-primarycolornav { background-color: #3c54d170; }
.bg-purplenurple4-secondarycolornav { background-color: #b18ce470; }
.bg-purplenurple4-accentcolornav { background-color: #aa68dc70; }
.border-purplenurple4-backgroundcolor { border-color: #fafafe; }
.border-purplenurple4-primarycolor { border-color: #3c54d1; }
.border-purplenurple4-secondarycolor { border-color: #b18ce4; }
.border-purplenurple4-accentcolor { border-color: #aa68dc; }
.hover:border-purplenurple4-backgroundcolor:hover { border-color: #fafafe; }
.hover:border-purplenurple4-primarycolor:hover { border-color: #3c54d1; }
.hover:border-purplenurple4-secondarycolor:hover { border-color: #b18ce4; }
.hover:border-purplenurple4-accentcolor:hover { border-color: #aa68dc; }
.stroke-purplenurple4-textcolor { stroke: #040610; }
.stroke-purplenurple4-backgroundcolor { stroke: #fafafe; }
.stroke-purplenurple4-primarycolor { stroke: #3c54d1; }
.stroke-purplenurple4-secondarycolor { stroke: #b18ce4; }
.stroke-purplenurple4-accentcolor { stroke: #aa68dc; }
.fill-purplenurple4-textcolor { fill: #040610; }
.fill-purplenurple4-backgroundcolor { fill: #fafafe; }
.fill-purplenurple4-primarycolor { fill: #3c54d1; }
.fill-purplenurple4-secondarycolor { fill: #b18ce4; }
.fill-purplenurple4-accentcolor { fill: #aa68dc; }

.component {
--main-background-color: #3B3B3D;
--main-text-color: #F9F9FB;
--interaction-color: #2566f2;
background-color: var(--main-background-color);
color: var(--main-text-color);
&--primary{--main-background-color : undefined;
--main-text-color : undefined;
--interaction-color : undefined;
}
&--magic0 {
--main-background-color: var(--magic0__background);
--main-text-color: var(--magic0__foreground);
--interaction-color: var(--magic0__interaction);
}
&--rose1 {
--main-background-color: var(--rose1__background);
--main-text-color: var(--rose1__foreground);
--interaction-color: var(--rose1__interaction);
}
&--cotton_candy2 {
--main-background-color: var(--cotton_candy2__background);
--main-text-color: var(--cotton_candy2__foreground);
--interaction-color: var(--cotton_candy2__interaction);
}
&--orange3 {
--main-background-color: var(--orange3__background);
--main-text-color: var(--orange3__foreground);
--interaction-color: var(--orange3__interaction);
}
&--purplenurple4 {
--main-background-color: var(--purplenurple4__background);
--main-text-color: var(--purplenurple4__foreground);
--interaction-color: var(--purplenurple4__interaction);
}
}

.c-navigation {
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
&--magic0 {
--main-background-color: var(--magic0__background);
--main-text-color: var(--magic0__foreground);
--interaction-color: var(--magic0__interaction);
}
&--rose1 {
--main-background-color: var(--rose1__background);
--main-text-color: var(--rose1__foreground);
--interaction-color: var(--rose1__interaction);
}
&--cotton_candy2 {
--main-background-color: var(--cotton_candy2__background);
--main-text-color: var(--cotton_candy2__foreground);
--interaction-color: var(--cotton_candy2__interaction);
}
&--orange3 {
--main-background-color: var(--orange3__background);
--main-text-color: var(--orange3__foreground);
--interaction-color: var(--orange3__interaction);
}
&--purplenurple4 {
--main-background-color: var(--purplenurple4__background);
--main-text-color: var(--purplenurple4__foreground);
--interaction-color: var(--purplenurple4__interaction);
}
}

.c-footer {
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
&--magic0 {
--main-background-color: var(--magic0__background);
--main-text-color: var(--magic0__foreground);
--interaction-color: var(--magic0__interaction);
}
&--rose1 {
--main-background-color: var(--rose1__background);
--main-text-color: var(--rose1__foreground);
--interaction-color: var(--rose1__interaction);
}
&--cotton_candy2 {
--main-background-color: var(--cotton_candy2__background);
--main-text-color: var(--cotton_candy2__foreground);
--interaction-color: var(--cotton_candy2__interaction);
}
&--orange3 {
--main-background-color: var(--orange3__background);
--main-text-color: var(--orange3__foreground);
--interaction-color: var(--orange3__interaction);
}
&--purplenurple4 {
--main-background-color: var(--purplenurple4__background);
--main-text-color: var(--purplenurple4__foreground);
--interaction-color: var(--purplenurple4__interaction);
}
}

