:root {
--primary_dark0__background : undefined;
--primary_dark0__foreground : undefined;
--primary_dark0__interaction : undefined;
}

.text-primary-textcolor { color: #041e25; }
.text-primary-primarycolor { color: #25cbe4; }
.text-primary-secondarycolor { color: #ef808f; }
.text-primary-accentcolor { color: #eaca57; }
.decoration-primary-textcolor { text-decoration-color: #041e25; }
.decoration-primary-primarycolor { text-decoration-color: #25cbe4; }
.decoration-primary-secondarycolor { text-decoration-color: #ef808f; }
.decoration-primary-accentcolor { text-decoration-color: #eaca57; }
.data-\[state\=active\]\:decoration-primary-textcolor[data-state=active] { text-decoration-color: #041e25; }
.data-\[state\=active\]\:decoration-primary-primarycolor[data-state=active] { text-decoration-color: #25cbe4; }
.data-\[state\=active\]\:decoration-primary-secondarycolor[data-state=active] { text-decoration-color: #ef808f; }
.data-\[state\=active\]\:decoration-primary-accentcolor[data-state=active] { text-decoration-color: #eaca57; }
.to-primary-textcolor { --tw-gradient-to: #041e25 var(--tw-gradient-to-position); }
.to-primary-backgroundcolor { --tw-gradient-to: #f6fdfe var(--tw-gradient-to-position); }
.to-primary-primarycolor { --tw-gradient-to: #25cbe4 var(--tw-gradient-to-position); }
.to-primary-secondarycolor { --tw-gradient-to: #ef808f var(--tw-gradient-to-position); }
.to-primary-accentcolor { --tw-gradient-to: #eaca57 var(--tw-gradient-to-position); }
.bg-primary-backgroundcolor { background-color: #f6fdfe; }
.bg-primary-primarycolor { background-color: #25cbe4; }
.bg-primary-secondarycolor { background-color: #ef808f; }
.bg-primary-accentcolor { background-color: #eaca57; }
.hover\:bg-primary-backgroundcolor:hover { background-color: #f6fdfe; }
.hover\:bg-primary-primarycolor:hover { background-color: #25cbe4; }
.hover\:bg-primary-secondarycolor:hover { background-color: #ef808f; }
.hover\:bg-primary-accentcolor:hover { background-color: #eaca57; }
.bg-primary-backgroundcolornav { background-color: #f6fdfe70; }
.bg-primary-primarycolornav { background-color: #25cbe470; }
.bg-primary-secondarycolornav { background-color: #ef808f70; }
.bg-primary-accentcolornav { background-color: #eaca5770; }
@media (min-width: 768px) { .md\:bg-primary-backgroundcolornav { background-color: #f6fdfe70; } }
@media (min-width: 768px) { .md\:bg-primary-primarycolornav { background-color: #25cbe470; } }
@media (min-width: 768px) { .md\:bg-primary-secondarycolornav { background-color: #ef808f70; } }
@media (min-width: 768px) { .md\:bg-primary-accentcolornav { background-color: #eaca5770; } }
.border-primary-textcolor { border-color: #041e25; }
.border-primary-backgroundcolor { border-color: #f6fdfe; }
.border-primary-primarycolor { border-color: #25cbe4; }
.border-primary-secondarycolor { border-color: #ef808f; }
.border-primary-accentcolor { border-color: #eaca57; }
.hover\:border-primary-textcolor:hover { border-color: #041e25; }
.hover\:border-primary-backgroundcolor:hover { border-color: #f6fdfe; }
.hover\:border-primary-primarycolor:hover { border-color: #25cbe4; }
.hover\:border-primary-secondarycolor:hover { border-color: #ef808f; }
.hover\:border-primary-accentcolor:hover { border-color: #eaca57; }
.stroke-primary-textcolor { stroke: #041e25; }
.stroke-primary-backgroundcolor { stroke: #f6fdfe; }
.stroke-primary-primarycolor { stroke: #25cbe4; }
.stroke-primary-secondarycolor { stroke: #ef808f; }
.stroke-primary-accentcolor { stroke: #eaca57; }
.fill-primary-textcolor { fill: #041e25; }
.fill-primary-backgroundcolor { fill: #f6fdfe; }
.fill-primary-primarycolor { fill: #25cbe4; }
.fill-primary-secondarycolor { fill: #ef808f; }
.fill-primary-accentcolor { fill: #eaca57; }

.text-primary_dark0-textcolor { color: #daf4fb; }
.text-primary_dark0-primarycolor { color: #1bc0da; }
.text-primary_dark0-secondarycolor { color: #7f101f; }
.text-primary_dark0-accentcolor { color: #a88815; }
.decoration-primary_dark0-textcolor { text-decoration-color: #daf4fb; }
.decoration-primary_dark0-primarycolor { text-decoration-color: #1bc0da; }
.decoration-primary_dark0-secondarycolor { text-decoration-color: #7f101f; }
.decoration-primary_dark0-accentcolor { text-decoration-color: #a88815; }
.data-\[state\=active\]\:decoration-primary_dark0-textcolor[data-state=active] { text-decoration-color: #daf4fb; }
.data-\[state\=active\]\:decoration-primary_dark0-primarycolor[data-state=active] { text-decoration-color: #1bc0da; }
.data-\[state\=active\]\:decoration-primary_dark0-secondarycolor[data-state=active] { text-decoration-color: #7f101f; }
.data-\[state\=active\]\:decoration-primary_dark0-accentcolor[data-state=active] { text-decoration-color: #a88815; }
.to-primary_dark0-textcolor { --tw-gradient-to: #daf4fb var(--tw-gradient-to-position); }
.to-primary_dark0-backgroundcolor { --tw-gradient-to: #010809 var(--tw-gradient-to-position); }
.to-primary_dark0-primarycolor { --tw-gradient-to: #1bc0da var(--tw-gradient-to-position); }
.to-primary_dark0-secondarycolor { --tw-gradient-to: #7f101f var(--tw-gradient-to-position); }
.to-primary_dark0-accentcolor { --tw-gradient-to: #a88815 var(--tw-gradient-to-position); }
.bg-primary_dark0-backgroundcolor { background-color: #010809; }
.bg-primary_dark0-primarycolor { background-color: #1bc0da; }
.bg-primary_dark0-secondarycolor { background-color: #7f101f; }
.bg-primary_dark0-accentcolor { background-color: #a88815; }
.hover\:bg-primary_dark0-backgroundcolor:hover { background-color: #010809; }
.hover\:bg-primary_dark0-primarycolor:hover { background-color: #1bc0da; }
.hover\:bg-primary_dark0-secondarycolor:hover { background-color: #7f101f; }
.hover\:bg-primary_dark0-accentcolor:hover { background-color: #a88815; }
.bg-primary_dark0-backgroundcolornav { background-color: #01080970; }
.bg-primary_dark0-primarycolornav { background-color: #1bc0da70; }
.bg-primary_dark0-secondarycolornav { background-color: #7f101f70; }
.bg-primary_dark0-accentcolornav { background-color: #a8881570; }
@media (min-width: 768px) { .md\:bg-primary_dark0-backgroundcolornav { background-color: #01080970; } }
@media (min-width: 768px) { .md\:bg-primary_dark0-primarycolornav { background-color: #1bc0da70; } }
@media (min-width: 768px) { .md\:bg-primary_dark0-secondarycolornav { background-color: #7f101f70; } }
@media (min-width: 768px) { .md\:bg-primary_dark0-accentcolornav { background-color: #a8881570; } }
.border-primary_dark0-textcolor { border-color: #daf4fb; }
.border-primary_dark0-backgroundcolor { border-color: #010809; }
.border-primary_dark0-primarycolor { border-color: #1bc0da; }
.border-primary_dark0-secondarycolor { border-color: #7f101f; }
.border-primary_dark0-accentcolor { border-color: #a88815; }
.hover\:border-primary_dark0-textcolor:hover { border-color: #daf4fb; }
.hover\:border-primary_dark0-backgroundcolor:hover { border-color: #010809; }
.hover\:border-primary_dark0-primarycolor:hover { border-color: #1bc0da; }
.hover\:border-primary_dark0-secondarycolor:hover { border-color: #7f101f; }
.hover\:border-primary_dark0-accentcolor:hover { border-color: #a88815; }
.stroke-primary_dark0-textcolor { stroke: #daf4fb; }
.stroke-primary_dark0-backgroundcolor { stroke: #010809; }
.stroke-primary_dark0-primarycolor { stroke: #1bc0da; }
.stroke-primary_dark0-secondarycolor { stroke: #7f101f; }
.stroke-primary_dark0-accentcolor { stroke: #a88815; }
.fill-primary_dark0-textcolor { fill: #daf4fb; }
.fill-primary_dark0-backgroundcolor { fill: #010809; }
.fill-primary_dark0-primarycolor { fill: #1bc0da; }
.fill-primary_dark0-secondarycolor { fill: #7f101f; }
.fill-primary_dark0-accentcolor { fill: #a88815; }

.component {
--main-background-color: #3B3B3D;
--main-text-color: #F9F9FB;
--interaction-color: #2566f2;
background-color: var(--main-background-color);
color: var(--main-text-color);
&--primary{--main-background-color : undefined;
--main-text-color : undefined;
--interaction-color : undefined;
}
&--primary_dark0 {
--main-background-color: var(--primary_dark0__background);
--main-text-color: var(--primary_dark0__foreground);
--interaction-color: var(--primary_dark0__interaction);
}
}

.c-navigation {
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
&--primary_dark0 {
--main-background-color: var(--primary_dark0__background);
--main-text-color: var(--primary_dark0__foreground);
--interaction-color: var(--primary_dark0__interaction);
}
}

.c-footer {
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
&--primary_dark0 {
--main-background-color: var(--primary_dark0__background);
--main-text-color: var(--primary_dark0__foreground);
--interaction-color: var(--primary_dark0__interaction);
}
}

