:root {
--magic0__background : undefined;
--magic0__foreground : undefined;
--magic0__interaction : undefined;
--rose1__background : undefined;
--rose1__foreground : undefined;
--rose1__interaction : undefined;
--cotton_candy2__background : undefined;
--cotton_candy2__foreground : undefined;
--cotton_candy2__interaction : undefined;
}

.text-primary-textcolor { color: #021015; }
.text-primary-primarycolor { color: #12b5ed; }
.text-primary-secondarycolor { color: #f57b91; }
.text-primary-accentcolor { color: #f1cc4e; }
.bg-primary-backgroundcolor { background-color: #f0fafe; }
.bg-primary-primarycolor { background-color: #12b5ed; }
.bg-primary-secondarycolor { background-color: #f57b91; }
.bg-primary-accentcolor { background-color: #f1cc4e; }
.bg-primary-backgroundcolornav { background-color: #f0fafe70; }
.bg-primary-primarycolornav { background-color: #12b5ed70; }
.bg-primary-secondarycolornav { background-color: #f57b9170; }
.bg-primary-accentcolornav { background-color: #f1cc4e70; }
.border-primary-backgroundcolor { border-color: #f0fafe; }
.border-primary-primarycolor { border-color: #12b5ed; }
.border-primary-secondarycolor { border-color: #f57b91; }
.border-primary-accentcolor { border-color: #f1cc4e; }
.stroke-primary-textcolor { stroke: #021015; }
.stroke-primary-backgroundcolor { stroke: #f0fafe; }
.stroke-primary-primarycolor { stroke: #12b5ed; }
.stroke-primary-secondarycolor { stroke: #f57b91; }
.stroke-primary-accentcolor { stroke: #f1cc4e; }

.text-magic0-textcolor { color: #060c0b; }
.text-magic0-primarycolor { color: #62afa0; }
.text-magic0-secondarycolor { color: #a4aed1; }
.text-magic0-accentcolor { color: #7c78bb; }
.bg-magic0-backgroundcolor { background-color: #f9fcfb; }
.bg-magic0-primarycolor { background-color: #62afa0; }
.bg-magic0-secondarycolor { background-color: #a4aed1; }
.bg-magic0-accentcolor { background-color: #7c78bb; }
.bg-magic0-backgroundcolornav { background-color: #f9fcfb70; }
.bg-magic0-primarycolornav { background-color: #62afa070; }
.bg-magic0-secondarycolornav { background-color: #a4aed170; }
.bg-magic0-accentcolornav { background-color: #7c78bb70; }
.border-magic0-backgroundcolor { border-color: #f9fcfb; }
.border-magic0-primarycolor { border-color: #62afa0; }
.border-magic0-secondarycolor { border-color: #a4aed1; }
.border-magic0-accentcolor { border-color: #7c78bb; }
.stroke-magic0-textcolor { stroke: #060c0b; }
.stroke-magic0-backgroundcolor { stroke: #f9fcfb; }
.stroke-magic0-primarycolor { stroke: #62afa0; }
.stroke-magic0-secondarycolor { stroke: #a4aed1; }
.stroke-magic0-accentcolor { stroke: #7c78bb; }

.text-rose1-textcolor { color: #120618; }
.text-rose1-primarycolor { color: #4e1a6b; }
.text-rose1-secondarycolor { color: #de789a; }
.text-rose1-accentcolor { color: #c53a30; }
.bg-rose1-backgroundcolor { background-color: #f8f3fc; }
.bg-rose1-primarycolor { background-color: #4e1a6b; }
.bg-rose1-secondarycolor { background-color: #de789a; }
.bg-rose1-accentcolor { background-color: #c53a30; }
.bg-rose1-backgroundcolornav { background-color: #f8f3fc70; }
.bg-rose1-primarycolornav { background-color: #4e1a6b70; }
.bg-rose1-secondarycolornav { background-color: #de789a70; }
.bg-rose1-accentcolornav { background-color: #c53a3070; }
.border-rose1-backgroundcolor { border-color: #f8f3fc; }
.border-rose1-primarycolor { border-color: #4e1a6b; }
.border-rose1-secondarycolor { border-color: #de789a; }
.border-rose1-accentcolor { border-color: #c53a30; }
.stroke-rose1-textcolor { stroke: #120618; }
.stroke-rose1-backgroundcolor { stroke: #f8f3fc; }
.stroke-rose1-primarycolor { stroke: #4e1a6b; }
.stroke-rose1-secondarycolor { stroke: #de789a; }
.stroke-rose1-accentcolor { stroke: #c53a30; }

.text-cotton_candy2-textcolor { color: #dceffe; }
.text-cotton_candy2-primarycolor { color: #0787e9; }
.text-cotton_candy2-secondarycolor { color: #560495; }
.text-cotton_candy2-accentcolor { color: #bb06c1; }
.bg-cotton_candy2-backgroundcolor { background-color: #00050a; }
.bg-cotton_candy2-primarycolor { background-color: #0787e9; }
.bg-cotton_candy2-secondarycolor { background-color: #560495; }
.bg-cotton_candy2-accentcolor { background-color: #bb06c1; }
.bg-cotton_candy2-backgroundcolornav { background-color: #00050a70; }
.bg-cotton_candy2-primarycolornav { background-color: #0787e970; }
.bg-cotton_candy2-secondarycolornav { background-color: #56049570; }
.bg-cotton_candy2-accentcolornav { background-color: #bb06c170; }
.border-cotton_candy2-backgroundcolor { border-color: #00050a; }
.border-cotton_candy2-primarycolor { border-color: #0787e9; }
.border-cotton_candy2-secondarycolor { border-color: #560495; }
.border-cotton_candy2-accentcolor { border-color: #bb06c1; }
.stroke-cotton_candy2-textcolor { stroke: #dceffe; }
.stroke-cotton_candy2-backgroundcolor { stroke: #00050a; }
.stroke-cotton_candy2-primarycolor { stroke: #0787e9; }
.stroke-cotton_candy2-secondarycolor { stroke: #560495; }
.stroke-cotton_candy2-accentcolor { stroke: #bb06c1; }

.component {
--main-background-color: #3B3B3D;
--main-text-color: #F9F9FB;
--interaction-color: #2566f2;
background-color: var(--main-background-color);
color: var(--main-text-color);
&--primary{--main-background-color : undefined;
--main-text-color : undefined;
--interaction-color : undefined;
}
&--magic0 {
--main-background-color: var(--magic0__background);
--main-text-color: var(--magic0__foreground);
--interaction-color: var(--magic0__interaction);
}
&--rose1 {
--main-background-color: var(--rose1__background);
--main-text-color: var(--rose1__foreground);
--interaction-color: var(--rose1__interaction);
}
&--cotton_candy2 {
--main-background-color: var(--cotton_candy2__background);
--main-text-color: var(--cotton_candy2__foreground);
--interaction-color: var(--cotton_candy2__interaction);
}
}

.c-navigation {
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
&--magic0 {
--main-background-color: var(--magic0__background);
--main-text-color: var(--magic0__foreground);
--interaction-color: var(--magic0__interaction);
}
&--rose1 {
--main-background-color: var(--rose1__background);
--main-text-color: var(--rose1__foreground);
--interaction-color: var(--rose1__interaction);
}
&--cotton_candy2 {
--main-background-color: var(--cotton_candy2__background);
--main-text-color: var(--cotton_candy2__foreground);
--interaction-color: var(--cotton_candy2__interaction);
}
}

.c-footer {
--main-background-color: #1B1B1D;
--main-text-color: #D9D9DC;
&--primary {
--main-background-color: var(--primary__background);
--main-text-color: var(--primary__foreground);
--interaction-color: var(--primary__interaction);
}
&--magic0 {
--main-background-color: var(--magic0__background);
--main-text-color: var(--magic0__foreground);
--interaction-color: var(--magic0__interaction);
}
&--rose1 {
--main-background-color: var(--rose1__background);
--main-text-color: var(--rose1__foreground);
--interaction-color: var(--rose1__interaction);
}
&--cotton_candy2 {
--main-background-color: var(--cotton_candy2__background);
--main-text-color: var(--cotton_candy2__foreground);
--interaction-color: var(--cotton_candy2__interaction);
}
}

