{% assign setCounter = 0 %}
{% assign imageCounter = 0 %}
{% assign classesIndex = 0 %}

{% assign imageClasses = imageClasses[0] | logFilter %}
<div class="c-imageGrid">
    <div class="flex flex-col gap-1 py-32">
    {% for imageSet in imageSets %}
        {% assign setCounter = setCounter | plus: 1 %}
        {% assign imageCounter = 0 %}
        <div class="grid grid-cols-[repeat(2,minmax(0px,320px))] grid-rows-[repeat(4,minmax(0px,320px))] gap-1 sm:grid-rows-[repeat(4,minmax(0px,320px))]">
            {% for image in imageSet.images limit:8 %}
                {% assign imageCounter = imageCounter | plus: 1 %}
                {% assign classesIndex = setCounter | times: imageCounter %}
                {% bookshop "generic/imageModal" image: image classes:imageClasses[classesIndex] %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>