{% assign color_group = styles.color_group %}


<section {% if content.sectionId %}id="{{ content.sectionId | id_filter }}"{% endif %} class='cs-w-full h-full py-20 bg-{{styles.color_group}}-backgroundcolor flex flex-col items-center justify-center text-{{styles.color_group}}-textcolor'>

{% if content.heading or content.text %}
    <div class='basecontainer'>
        {% bookshop "generic/heading" bind:content.heading %}
        <div class="c-simpleTextBlock">{% if content.text %}{% bookshop "generic/textBlock" bind:content.text %}{% endif %}</div>
    </div>
{% endif %}
</section>
