{% assign iconClass = "fill-" | append: banner.color_group | append: "-highcontrast-" | append: banner.colorFromGroup | append: 'color' %}


{% if banner.enable_banner and banner.show_until %}
    <header class="flex w-full justify-center py-2 bg-{{banner.color_group}}-{{banner.colorFromGroup}}color text-{{banner.color_group}}-highcontrast-{{banner.colorFromGroup}}color" 
        _="on load
        set my.show_until to new Date('{{ banner.show_until }}').getTime()
        set my.hide_if to 'banner_{{ banner.id }}'
        set my.hidden to localStorage.getItem(my.hide_if) or (my.show_until - Date.now()) < 0
        if my.hidden is true
            add .hidden to me
        end
    end
    on click from button
        localStorage.setItem(my.hide_if, 'true')
        add .hidden to me
    end">
        <p class="" >{{ banner.html }}</p>
        <button>{% bookshop "generic/heroLibraryIcon" heroLibraryIconName:"x-mark" iconType:"solid" iconSize:'small' roundedBorder:false classOverride: iconClass %}</button>
    </header>
{% endif %}
