{% if entry.title == "Blog" %} {% assign blogPosts = collections.blog %} {% if
blogPosts %}
<li>
  <a
    class="data-[state=active]:link hover:text-sopris-green block rounded py-2 pl-3 pr-4 uppercase  transition-colors hover:bg-gray-700 dark:border-gray-700 md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
    href="{{ entry.url }}"
    >{{ entry.title }}</a
  >
</li>
{% endif %} {% else %}
<li>
  <a
    class="data-[state=active]:link hover:text-sopris-green block rounded py-2 pl-3 pr-4 uppercase  transition-colors hover:bg-gray-700 dark:border-gray-700 md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
    href="{{ entry.url }}"
    >{{ entry.title }}</a
  >
</li>
{% endif %} {% if entry.children.size > 0 %}
<div class="relative">
  <summary><button class="data-[state=active]:link hover:text-sopris-green block rounded py-2 pl-3 pr-4 uppercase  transition-colors hover:bg-gray-700 dark:border-gray-700 md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent" 
    _="
    set element opened to false
    set element submenu to #{{ entry.key }} 
    on click or hover 
    if opened then
    js(submenu)
      submenu.classList.add('md:hidden'); 

    end then set opened to false else
    js(submenu)
      submenu.classList.remove('md:hidden'); 
    end then set opened to true

    "

    >{{entry.key}}</button></summary>
  <ul id="{{ entry.key }}" class="md:absolute transition-all md:hidden ml-4 pl-4 md:ml-0 md:p-2 md:left-0 md:z-10 mt-2 w-min origin-top-right rounded bg-{{color_group}}-backgroundcolornav  border-l-2 border-{{color_group}}-secondarycolor  focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
    {% for child in entry.children %} {% render "partials/render-nav.html",
    child:entry, color_group: color_group %} {% endfor %}
  </ul>
</div>
{% endif %}
