{% set navPages = collections.all | eleventyNavigation %} {% macro renderNavListItem(entry)
-%} {% if entry.title == "Blog" %} {% if collections.blog.length %}
<li>
  <a
    class="data-[state=active]:link block rounded py-2 pl-3 pr-4 text-white hover:bg-gray-700 hover:text-sopris-green dark:border-gray-700 md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
    href="{{ entry.url }}"
    {{
    helpers.getLinkActiveState(entry.url,
    page.url)
    |
    safe}}
    >{{ entry.title }}</a
  >
</li>
{% endif %}  {% else %}
<li>
  <a
    class="data-[state=active]:link block rounded py-2 pl-3 pr-4 text-white hover:bg-gray-700 hover:text-sopris-green dark:border-gray-700 md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
    href="{{ entry.url }}"
    {{
    helpers.getLinkActiveState(entry.url,
    page.url)
    |
    safe}}
    >{{ entry.title }}</a
  >
</li>
{% endif %} {%- if entry.children.length -%}
<ul>
  {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
</ul>
{%- endif -%} {%- endmacro %}

<footer
  class="mt-36 flex flex-col gap-8"
>
  {% include "partials/contact-form.html" %}
  <div class="flex flex-col items-center justify-center">
    <div class="footer-content">
      <div>
        <ul class="flex flex-wrap justify-center gap-1 md:gap-4">
          {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor
          -%}
        </ul>
      </div>
    </div>
  </div>
  <div>
    <p class="text-center" data-type="neutral">
      © {{ helpers.getTodaysYear() }}, by {{site.legalName}}
    </p>
    <p class="text-center text-sm" data-type="neutral">
      Custom site designed & developed by
      <a href="https://vynxlabs.com/" class="underline">Vynxlabs</a>
    </p>
  </div>
</footer>
