{% assign navPages = collections.all | eleventyNavigation %}

<footer
  class="mt-20 cs-w-full pt-20 bg-{{site.footer_color_group}}-backgroundcolor flex flex-col items-center justify-center text-{{site.footer_color_group}}-textcolor"
>
  <div class="basecontainer w-full">
    <div class="flex flex-wrap justify-around gap-10">
      <div class="max-w-[300px]">
        <a href="/">
          {% if not site.logoPath or site.logoPath == "" %}
            <p class="cs-logoFont text-2xl hover:underline">{{site.name}}</p>
            {% else condition %}
            {% image site.logoPath, "logo for sopris", "w-full "  %}
          {% endif %}
        </a>
        <ul class="mt-4 flex flex-wrap overflow-hidden gap-x-4 gap-y-1">
        {% for socialLink in site.socialMediaLinks %}
        <li class="hover:underline after:absolute after:content-['|'] after:scale-150   relative before:content-[' '] after:left-[-11px] after:text-lg">
          <a href="{{ socialLink.linkUrl }}" target="_blank" >{{socialLink.label}}</a>
        </li>
        {% endfor %}
      </ul>
      </div>
      <div class="">
        <p class="font-bold opacity-90">Navigation</p>
        <ul class="mt-2  flex flex-col justify-center gap-1 md:gap-4">
          {% for entry in navPages %} {% render "partials/render-footer.html" with
          entry as entry %} {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-20">
    <p class="text-center" data-type="neutral">
      © {{ helpers.getTodaysYear }}, by {{site.legalName}}
    </p>
    <p class="text-center text-sm" data-type="neutral">
      This site is powered by Vynxlabs. Like it?
      <a href="https://vynxlabs.com/" class="underline">Build one your self</a>
    </p>
  </div>
</footer>
