{% assign color_group = styles.color_group %}

<div class="c-5050ImageForm componentcontainer  relative">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer w-full">

    <div class=" flex ">

      <div class="cs-w-full lg:cs-w-full-r flex  justify-center bg-{{styles.color_group}}-backgroundcolor  bg-opacity-60 text-{{styles.color_group}}-highcontrast-backgroundcolor lg:bg-opacity-100">
        {% bookshop "generic/heading" bind: content.heading %}
        {% bookshop "simple/formBuilder" bind: content.form %}
      </div>

      <div class="cs-w-full lg:cs-w-full-l cs-footer -z-10 flex items-end justify-center bg-cover bg-center pb-16 font-bold md:justify-normal pl-[50%] md:pl-[15%]">
        {% bookshop "generic/image" bind: content.image class: "h-screen w-screen object-cover" %}
      </div>

    </div>
  </section>
</div>