{% assign color_group = styles.color_group %}

<div class="c-5050ImageForm relative">
  <section
    {% if content.sectionId %}
    id="{{ content.sectionId | idFilter }}"
    {% endif %}
    class="basecontainer w-full">

    <div class=" flex ">

      <div class="cs-w-full lg:cs-w-full-r flex flex-col items-center p-4   justify-center bg-{{styles.color_group}}-backgroundcolor  bg-opacity-60 text-{{styles.color_group}}-highcontrast-backgroundcolor lg:bg-opacity-100">
        <div class="max-w-[512px]">
          {% bookshop "generic/heading" bind: content.heading %}
          {% bookshop "simple/formBuilder" bind: content.form %}
        </div>
      </div>

      <div class="cs-w-full lg:cs-w-full-l -z-10 flex items-end justify-center bg-cover bg-center font-bold md:justify-normal h-full">
        {% bookshop "generic/image" bind: content.image class: "h-screen w-screen object-cover" %}
      </div>

    </div>
  </section>
</div>